<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('index')}}">Ours</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('your_name')}}">Name Form</a>
          </li>
          
          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('logout')}}">logout</a>
          </li>
          {% if current_user.id == 17 %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('admin')}}">Admin</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('dashboard')}}">User Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('add_posts')}}">Add Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('view_post')}}">Posts</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('login')}}">login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('add_user')}}">Register</a>
          </li>
          {% endif %}
        </ul>
        <form method="POST" action="{{ url_for('search')}}" class="d-flex">
          {{ form.hidden_tag() }}
          <input class="form-control me-2" type="search" name="searched" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-secondary" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>